{% extends "base.html" %}

{% block title %}No Code Data Resume Project{% endblock %}

{% block content %}
    <h1 style="text-align: center;">H1 Project Title.</h1>
    
    <h2 style="text-align: center;">H2 Project Description</h2>
    
    <p style="text-align: center;">This is a webapp project intended to make extracting cursory kaggle insights from datasets simpler. This can be used for people without knowledge of programming, as well as others.</p>

    <div class="nav-div">
        <a href="{{ url_for('dashboard') }}">Go to data dashboard to upload files.</a>
    </div>

    <div class="nav-div">
        <a href="{{ url_for('register_page') }}">Go to registration to associate user account with kaggle API key.</a>
    </div>

    <div class="nav-div">
        <a href="{{ url_for('login_page') }}">Log in to a created account.</a>
    </div>
{% endblock %}