{% extends "base.html" %}

{% block title %}No Code Data Resume Project{% endblock %}

{% block content %}
    <div class="text-center py-5">
    <h1 class="display-4 fw-bold">Explore Your Data Without Writing Code</h1>

    <p class="lead text-muted mx-auto" style="max-width: 700px;">
        Upload a dataset or import one from Kaggle to quickly inspect,
        clean, visualize, and identify potential data quality issues.
    </p>
    </div>

    <div style="display: flex; flex-direction: column; align-items: center; gap: 1rem;">    
        <div class="col-md-4">
            <a href="{{ url_for('dashboard') }}"
            class="btn btn-primary w-100 py-3">
                Open Data Dashboard
            </a>
        </div>

        <div class="col-md-4">
            <a href="{{ url_for('register_page') }}"
            class="btn btn-outline-secondary w-100 py-3">
                Create Account
            </a>
        </div>

        <div class="col-md-4">
            <a href="{{ url_for('login_page') }}"
            class="btn btn-outline-secondary w-100 py-3">
                Log In
            </a>
        </div>
    </div>
{% endblock %}